{% doc %}
  Renders a swatch input component.

  @param {string} id - Unique input id
  @param {string} [type] - Input type. Accepts 'radio' or 'checkbox', defaults to 'radio'
  @param {string} name - Input name
  @param {object} value - Input value
  @param {object} swatch - The swatch drop
  @param {string} product_form_id - Id of the form associted with the input
  @param {boolean} checked - Default checked status
  @param {boolean} [disabled] - Default disabled status
  @param {boolean} [visually_disabled] - Style the swatch as disabled, but leave the input enabled
  @param {string} [shape] - Swatch shape. Accepts 'square', defaults to circle
  @param {string} [help_text] - Additional content to render inside the label
  @param {string} [additional_props] - Additional properties to attach to the input

  @example
  {% render 'swatch-input', id: input_id, name: input_name, value: input_value, swatch: swatch, product_form_id: product_form_id, checked: checked %}
{% enddoc %}

<input
  type="{{ type | default: 'radio' }}"
  id="{{ id }}"
  name="{{ name }}"
  value="{{ value }}"
  form="{{ product_form_id }}"
  class="swatch-input__input{% if visually_disabled %} visually-disabled{% endif %}"
  {% if checked %}
    checked
  {% endif %}
  {% if disabled %}
    disabled
  {% endif %}
  {% if additional_props %}
    {{ additional_props }}
  {% endif %}
>
<label
  for="{{ id }}"
  title="{{ value }}"
  class="swatch-input__label{% if shape == 'square' %} swatch-input__label--square{% endif %}"
>
  {% render 'swatch', swatch: swatch, shape: shape %}
  {{ help_text }}
</label>
