{% schema %}
{
  "name": "Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 50,
      "max": 550,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 100
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment on large screen",
      "options": [
        {
          "value": "",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}

<div
  class="footer-block grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {{ block.shopify_attributes }}
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
    {%- if block.settings.image != blank -%}
      {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
      <div
        class="footer-block__image-wrapper"
        style="max-width: min(100%, {{ block.settings.image_width }}px);"
      >
        <img
          srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
          src="{{ block.settings.image | image_url: width: 760 }}"
          alt="{{ block.settings.image.alt | escape }}"
          loading="lazy"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
        >
      </div>
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {%- endif -%}
  </div>
</div>
