{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #Newsletter-{{ section.id }} {
    --newsletter-image-overlay-opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="Newsletter-{{ section.id }}"
  class="newsletter newsletter--layout-{{ section.settings.layout_style | default: 'minimal' }} center {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}"
>
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
    {%- if section.settings.image != blank -%}
      <div class="newsletter__media media">
        {{
          section.settings.image
          | image_url: width: 1800
          | image_tag:
            widths: '375, 550, 750, 1100, 1500, 1800',
            sizes: '(min-width: 990px) 42vw, 100vw',
            loading: 'lazy',
            class: 'newsletter__image'
        }}
      </div>
    {%- endif -%}
    <div class="newsletter__content">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout_style",
      "options": [
        {
          "value": "minimal",
          "label": "t:sections.newsletter.settings.layout_style.options__1.label"
        },
        {
          "value": "editorial_split",
          "label": "t:sections.newsletter.settings.layout_style.options__2.label"
        },
        {
          "value": "full_bleed",
          "label": "t:sections.newsletter.settings.layout_style.options__3.label"
        }
      ],
      "default": "minimal",
      "label": "t:sections.newsletter.settings.layout_style.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.newsletter.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "%",
      "default": 20,
      "label": "t:sections.newsletter.settings.image_overlay_opacity.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "newsletter-heading"
    },
    {
      "type": "newsletter-paragraph"
    },
    {
      "type": "newsletter-form"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}
